.welcomeComponent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.welcomeNameContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}